@font-face {
    font-family: 'BlackRose';
    src: url('../../assets/font/BlackRose.ttf');
}
@font-face {
    font-family: 'TreasureMap';
    src: url('../../assets/font/TreasureMap.ttf');
}
@font-face {
    font-family: 'BlackPearl';
    src: url('../../assets/font/BlackPearl.ttf');
}
@font-face {
    font-family: 'Primitive';
    src: url('../../assets/font/Primitive.ttf');
}
@font-face {
    font-family: 'Viking';
    src: url('../../assets/font/Viking.ttf');
}
@font-face {
    font-family: 'PirateWriter';
    src: url('../../assets/font/PirateWriter.ttf');
}