:root {
    --white0: #e4e4e4;
    --white1: #d8d8d8;
    --gray0: #757575;
    --gray1: #c5c5c5;
    --black0: #000000;
    --black0t: #00000050;
    --black1t: #00000073;
    --black2t: #000000b0;
    --red0: #ff3e3e;
    --green0: #55ff55;
    --blue0: #010031;
    --blue1: #89a4ff;
    --blue2: #334bd4;
    --blue0t: #0300318c;
    --blue1t: #5d82fcab;
    --purple0: #330091;
    --purple1: #4a00d4;
}